body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --tbw-cell-vertical-padding: 4px;
  --tbw-cell-horizontal-padding: 8px;
  --tbw-cell-line-height: 1.5em;
}

table {
  margin-bottom: var(--tbw-cell-line-height);
}

th,
td {
  height: calc(
    var(--tbw-cell-vertical-padding) * 2 + var(--tbw-cell-line-height)
  );
  min-width: calc(var(--tbw-cell-horizontal-padding) * 2);
  padding: var(--tbw-cell-vertical-padding) var(--tbw-cell-horizontal-padding);
  border: 1px solid #e7eaec;
}

p:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

.trumbowyg-editor > multonion-dt > table > tbody > tr > td {
  border: 1px solid #333 !important;
  width: 100px;
  height: 25px;
}
.trumbowyg-editor > multonion-dt > table > thead > tr > th {
  border: 1px solid #333 !important;
  width: 100px;
  height: 25px;
}
.trumbowyg-editor > table > tbody > tr > td {
  border: 1px solid #333 !important;
  width: 100px;
  height: 25px;
}
.trumbowyg-editor > table > thead > tr > th {
  border: 1px solid #333 !important;
  width: 100px;
  height: 25px;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  padding: 1rem;
  width: 300px;
  overflow: auto;
  box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.156);
  -moz-box-shadow: 2px 2px 37px 16px rgba(0, 0, 0, 0.051);
  border-radius: 0.5rem;
  background-color: #fff;
}

.metadata__form {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  gap: 0.5rem;
}
.metadata__form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.metadata__form__header > p {
  margin: 0;
}

.meta__data__type,
.meta__data__title {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: rgb(216, 216, 216);
}

.close__btn {
  color: #aaaaaa;

  /* font-size: 28px; */
  font-weight: bold;
  border: 0;
  width: fit-content;
  border-radius: 2rem;
  padding: 0.5rem;
  /* height: 10px; */
}

.close__btn:hover,
.close__btn:focus {
  background-color: rgba(255, 127, 127, 0.306);
  color: rgb(255, 127, 127);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.metadata__form__footer {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  width: 100%;
  box-sizing: border-box;
}

.submit__btn {
  padding: 0.5rem 1rem;
  border-radius: 0;
  border: 0;
  background-color: rgb(128, 0, 255);
  color: rgb(255, 255, 255);
}

label {
  font-size: 11px;
  color: rgb(155, 153, 153);
}

multonion-tf {
  color: rgb(143, 0, 200);
  background-color: rgba(143, 0, 200, 0.19);
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
}

.document__builder__wrapper {
  display: flex;
  gap: 1rem;
}

.metadata__list {
  min-width: 20vw;
  height: 90vh;
  position: static;
  border: 1px solid #ddd;
  min-height: 300px;
}

.metadata__list > p {
    font-size: 1.5rem;
    font-weight: 400;
  text-align: center;
  color: rgb(203, 3, 187);
}

.data__item{
    font-size:12px;
    font-weight: 400;
    color: rgb(45, 45, 45);
}
